/*global reponsive*/
//global reponsive

/*index reponsive*/
//index reponsive

@media all and (min-width:769px){

    .omf-ul{
        display:flex;

        .omf-li{
            width:290px;
        }
    }

    .omf-container{
        padding:30px;
        flex-wrap:nowrap;
    }

    .omf-main-menu{
        max-width:60rem;
        margin: auto;
        margin-top:-50px;
        padding:30px;

        .menu-title{
            justify-content:center;
            align-items:baseline;

            .omf-like-btn{
                margin-left:20px;
            }
        }

        .omf-order-form{
            width: 70%;
            margin: auto;
        }
    }

    .omf-footer{
        display:flex;
        flex-direction: row-reverse;
        justify-content:flex-start;
        align-items: flex-start;
        min-height: 2rem;

        .omf-footer-ul{
            display: flex;
           
        }
    
        .omf-h3{
            margin-left: 100px;
        }

    }


}

//omf-ul

//omf-container

/*menu responsive*/
//menu reponsive