
@media only screen and (min-width:600px)and (max-width:900px){



        .main-content{
         
            padding:20px;
            
            }

            .resteraunt-groupe,.menu-groupe{
                align-items: stretch;
                gap:1.2rem;
                   
                }
}

@media only screen and (max-width: 600px) {

    body{
        padding:0px;
        width:100%;
    }
    .main-nav{
        ul{
            flex-direction: column;
            justify-content: center;
            align-items: center;

            li{
                width:100%;
            }
        }

        
    }

    .header-menu{
        display:none;
    }
    .resteraunt-groupe,.menu-groupe{
        flex-direction: column;
    }
  }

  

.main-content {

     padding:5px;
}