/*Uclasses*/

/* class framework*/
.container{
    width:100vw;
    margin:auto;
    
}


/*functions*/

/*background-colors*/

/*background class generator*/
@each $name ,$bg-color in $bg-colors{
    .#{$name}{
        background-color:$bg-color;
    }
    }

/*margins class generator*/
@each $name ,$mrg-size in $margins{
    .#{$name}{
        margin:$mrg-size;
    }
    }

/*paddings class generator*/
@each $name ,$pd-size in $paddings{
    .#{$name}{
        padding:$pd-size;
    }
    }
/*fonts*/

/*flex classes*/

.omf-flex{
    @include flex-box;

}

/*texts*/

.text{

    //text color
    &-black{
        color:black;
    }

    &-white{
        color:white;
    }

    &-green{
        color:$dark-green;
    }



    // text size 

    &-sm{
        font-size:$sm;
    }

    &-md{
        font-size:$md;
    }

    &-lg{
        font-size:$lg;
    }

    &-xl{
        font-size:$xl;
    }

    &-xxl{
        font-size:$xxl;
    }

    //alignment

    &-start{
        text-align:left;
    }

    &-center{
        text-align:center;
    }

    &-end{
        text-align:right;
    }
}




