.main-card{
padding: 0px 0px 15px;
background-color:$white;
box-shadow:$card-shadow;
border-radius: 20px;



    img{
        border-top-left-radius:20px ;
        border-top-right-radius:20px ;
        height: 200px;
    }

    .description{
        text-overflow: ellipsis;
        justify-content: space-between;
        padding:0.5rem;

        h3{
            font-size: large;
        }
    }




    .nouveau-badge{
        position: relative;
        float:right;
        z-index: 4;
        background-color: $tertiaire;
        color:$dark-green;
        border-radius:0.2rem;
        padding:0.5rem;
        margin-top: -180px;
        margin-right: 15px;

       
    }
}

.menu-card{
    padding:0px;
    padding-bottom: 0px;
    background-color:$white;
    box-shadow:$card-shadow;
    border-radius: 20px;
    @include fadeIn;
    cursor:grab;

 
    .img-carte{
        border-top-left-radius:20px ;
        border-top-right-radius:20px ;
        height:225px;
    }

    .content{
        justify-content: space-evenly;
        flex:1;
    }

    .description{
        padding:10px;
        
    }

    .check-box{
        width:0%;
        opacity:0;
        background-color:$tertiaire;
        padding:5px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        transition: width 400ms;
        .fa-circle-check::before{
            color:$white;
            font-size: 2rem;
            
        }
    }

    .prix{
        font-weight: 900;
        font-size: 1.2rem;
        justify-content:center;
        align-items: end;
        flex:1;
        padding:5px;
    }

    .description, .description p{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
         
    }

    &:hover{

        .description, .description p{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
             
        }

        .check-box{
            width:30%;
            opacity:1;
            display:flex;
            justify-content: center;
            align-items: center;
           
           
            
            .fa-circle-check{
                color:$white;
                font-size: 2rem;
                transform: rotate(360deg);
                transition: 0.4s ease-in-out;
                
            }
        }

        
    }
 
}





